{% assign contacts = site.contacts %}

<ul id="contacts" class="contact-list">
    <li class="contact-list__item">
        <a class="contact-list__item__link icon-email"
           href="mailto:{{ contacts.email }}"></a>
    </li><li class="contact-list__item">
        <a class="contact-list__item__link icon-linkedin"
           href="https://fi.linkedin.com/in/{{ contacts.linkedin }}"></a>
    </li><li class="contact-list__item">
        <a class="contact-list__item__link icon-twitter"
           href="https://twitter.com/{{ contacts.twitter }}"></a>
    </li><li class="contact-list__item last">
        <a class="contact-list__item__link icon-github"
           href="https://github.com/{{ contacts.github }}"></a>
    </li>
</ul>