<a
    class="twitter-timeline"
    href="https://twitter.com/tunttunen"
    data-tweet-limit="4"
    data-chrome="noheader nofooter"
    data-theme="dark"
    data-widget-id="610421929477046272">Tweets by @tunttunen</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>