---
layout: page
---

<div class="wrapper">
    <h2>Briefly on current interests</h2>
    <p>
        I have been subsequently shifting from "full-stack" PHP to JavaScript development (<a href="https://nodejs.org">Node</a>, <a href="http://facebook.github.io/react">React</a>, <a href="https://angularjs.org">Angular</a>, <a href="http://http://gulpjs.com">Gulp</a>...) Mobile development is also one of my interests, but I haven't dived into it yet. iOS development could be my next area to conquer.
    </p>
</div>

<div class="box box--red">
    <div class="wrapper">
        <div class="box__text">
            People fuel my passion to be creative<br/>
            I want to share and make people go "wow!"<br/>
            It's the dedication that makes our rock roll
        </div>
    </div>
</div>

<div class="wrapper">
    <div class="bio">
        {{ content }}
    </div>
</div>